/*main font style across the gui, styles the tables as well*/
.jfx-decorator {
    -fx-decorator-color: #272727;
    -fx-text-fill: #e6e6e6;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 22;
}
/*stage buttons style*/
.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;

}
/*application title style*/
.jfx-decorator-text {
    -fx-font-family: "Roboto";
    -fx-font-size: 28;
    -fx-fill: #e6e6e6;
}
/*thin stage borders to allow resizing*/
.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 2 2 2 2;
}

