.label {
    -fx-text-fill: #3c3c3c;
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 24;
}

/*
//dark theme

.list-view {
    -fx-background-color: #232323;
}

.list-view .list-cell:hover {
    -fx-background-color: #434343;
}

.list-view .list-cell:selected {
    -fx-background-color: #434343;
}

.list-view .list-cell {
    -fx-background-color: #232323;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}

.jfx-rippler {
    -jfx-rippler-fill: red;
}*/
/*.list-view .list-cell:selected, .list-view .list-cell:focused {
    -fx-text-fill: #e6e6e6;
    -fx-background-color: #434343;
}*/

.list-view .list-cell:selected:focused {
    -fx-text-fill: #e6e6e6;
    -fx-background-color: #434343;
}
.list-cell:selected{
    -fx-text-fill: #e6e6e6;
    -fx-background-color: #434343;
}

.list-view .jfx-rippler {
    -jfx-rippler-fill: rgb(222, 222, 222);
}

.list-view {
    -fx-border-color: #3c3c3c;
    -fx-border-width: 0.5;
    -fx-background-insets: 0;
    -fx-padding: 0px;
    -fx-background-color: #F4F4F4;
}

.list-view .list-cell:focused {
    -fx-background-color: transparent;
}
.list-view .list-cell:odd{
    -fx-background-color: transparent;
}
.list-view .list-cell:even{
    -fx-background-color: transparent;
}
.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #3c3c3c;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 1em;
}

.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom, rgba(230, 230, 230, 1) 0%, rgba(255, 255, 255, 0.65) 50%, rgba(230, 230, 230, 1) 100%);
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

.list-view .increment-button, .list-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}
.jfx-button{
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #e6e6e6;
}
/* Styling the slider track */
.jfx-slider > .track {
    -fx-background-color: #e6e6e6;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
    -fx-background-color: #3c3c3c;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
    -fx-background-color: #3c3c3c;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: #3c3c3c;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
    -fx-font-size: 14;
    -fx-fill: #e6e6e6;
    -fx-stroke: #e6e6e6;
}